.modalBackGround {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageInput {
  background: darkgray;
  height: 177px;
  width: 177px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin: 10px 0px;
  background-color: aliceblue;
  height: 80%;
  width: 90%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}
